<div class="moon-menu">
  <div class="moon-menu-items">
    <% menus.forEach(item => { %>
    <div class="moon-menu-item" onclick="<%= item.func %>()">
      <%- item.icon -%>
    </div>
    <% }); %>
  </div>
  <div class="moon-menu-button">
    <svg class="moon-menu-bg">
      <circle class="moon-menu-cricle" cx="50%" cy="50%" r="44%"></circle>
      <circle class="moon-menu-border" cx="50%" cy="50%" r="48%"></circle>
    </svg>
    <div class="moon-menu-content">
      <div class="moon-menu-icon"><%- icon -%></div>
      <div class="moon-menu-text"></div>
    </div>
  </div>
</div>