.moon-menu,
.moon-menu-bg,
.moon-menu-content {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 4em;
  height: 4em;
  z-index: 999;
}

.moon-menu-button {
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.moon-menu-cricle {
  fill: var(--moon-cricle, #607d8b);
  opacity: 0.9;
}

.moon-menu-border {
  stroke: var(--moon-cricle, #607d8b);
  opacity: 0.9;
  stroke-width: 1px;
  fill: none;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.moon-menu-icon {
  font-size: 2.5em;
  line-height: 1.6em;
  color: var(--color, #fff);
  text-align: center;
}

.moon-menu-icon i,
.moon-menu-icon svg {
  transition: all 0.15s cubic-bezier(0, 0, 0.382, 1.618);
}

.moon-menu-icon.active i,
.moon-menu-icon.active svg {
  transform: rotate(90deg);
}

.moon-menu-text {
  color: var(--color, #fff);
  font-weight: 400;
  text-align: center;
  line-height: 3.2em;
  font-size: 1.2em;
  display: none;
}

.moon-menu-item {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--moon-item-bg-color, #000);
  opacity: 0;
  display: block;
  transition: all 0.3s cubic-bezier(0, 0, 0.382, 1.618);
  z-index: -1;
  text-align: center;
  line-height: 2.5em;
  color: var(--color, #fff);
  cursor: pointer;
}
