.moon-menu {
  --moon-cricle: #607d8b;
  --color: #fff;
  --moon-item-bg-color: #000;
}
@media (prefers-color-scheme: dark) {
  .moon-menu {
    --moon-cricle: #2b5278;
    --color: #9ab;
    --moon-item-bg-color: #182533;
  }
}
